* {
    font-family: montserrat;
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
    width: 100vw;
    margin: 0px;
}

h1 {
    font-family: montserrat-black;
}

.material-symbols-outlined {
    user-select: none;
}

.scroll_arrow {
    font-size: 45px;
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 20px;
    transition: 1s;
}

.hidden {
    display: none;
}

#top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.fadein {
    opacity: 1;
    cursor: pointer;
}

.fadeout {
    opacity: 0;
}

.hero {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    user-select: none;
}

.navbar.sticky {
    width: 100vw;
    position: fixed;
    top: 0px;
    background-image: url("/assets/img/background.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.modalpage {
    text-align: center;
}

.heroIcon {
    margin: auto;
    width: 250px;
}

@font-face {
    font-family: 'montserrat';
    src: url('../fonts/Montserrat-Light.woff2') format('woff2'),
        url('../fonts/Montserrat-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat-black';
    src: url('../fonts/Montserrat-Black.woff2') format('woff2'),
        url('../fonts/Montserrat-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}